.content ul *{
    margin: 0px;
    padding: 0px;
    width: 150px;
}

.group { 
    position:relative; 
    margin-bottom:50px; 
    left: 15vw;
    top:5vh;
}
input 				{
  font-size:20px;
  padding:10px 10px 10px 5px;
  display:block;
  width:17vw;
  border:none;
  border-bottom:1px solid #757575;
  height: 5vh;
}
.group input:focus { 
    outline:none;
}


label 				 {
  color:#999; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


input:focus ~ label:not(#room-input-message,.stop), input:valid ~ label:not(#room-input-message,.stop)		{
  top:-30px;
  font-size:20px;
  color:#5264AE;
}

.selector > *{
  display: flex;
}
.deroulant-template p  {
    font-size: 1.1vw;
    cursor: pointer;
}
.deroulant-template p:hover {
  background-color: rgb(230, 228, 228);
}
.content .deroulant-template ul * {
  width: 100%;
}
.deroulant-template span:hover{
    color: #009ffd;
    border-bottom: 2px solid cornflowerblue;
}
.content .deroulant-template .deroulant-container .deroulant-title{
  width: 13vw;
}
.form-container{
    position: relative;
    left:15vw;
    background-color: whitesmoke;
    width: 55vw;
    height: 85vh;
}
.deroulant-title{
    background-color: rgb(216, 213, 213);
    cursor: pointer;
}
.stop{
    top:-30px;
    color:#5264AE;
}
.selector .deroulant-template{
    width: 15vw;
}