.content ul *{
    margin: 0px;
    padding: 0px;
    width: 150px;
}
.box{
    box-shadow: 0px 1px 1px black;
}

.group { 
    position:relative; 
    margin-bottom:45px; 
    left:25vw;
    top:10vh;
}
input 				{
  font-size:1.05vw;
  padding:10px 10px 10px 5px;
  display:block;
  width:17vw;
  border:none;
  border-bottom:1px solid #757575;
}
.group input:focus { 
    outline:none;
}


label 				 {
  color:#999; 
  font-size:1.2vw;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
#room-input-message{
    top: 50px;
    color: brown;
}

input:focus ~ label:not(#room-input-message,.stop), input:valid ~ label:not(#room-input-message,.stop)		{
  top:-20px;
  font-size:1.1vw;
  color:#5264AE;
}


.bar { 
    position:relative; 
    display:block;
    width:17vw;
    height: 1px;
}
.bar:before, .bar:after 	{
  content:'';
  height:3px;
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%; 
}


input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

.highlight {
  position:absolute;
  height:60%; 
  width:17vw; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
.active{
    background-color: green;
}
.non-active{
    background-color: red;
}
.selector > *{
  display: flex;
}
.deroulant-template p  {
    font-size: 1.1vw;
    cursor: pointer;
}
.deroulant-template p:hover {
  background-color: rgb(230, 228, 228);
}
.content .deroulant-template ul * {
  width: 100%;
}
.deroulant-template span:hover{
    color: #009ffd;
    border-bottom: 2px solid cornflowerblue;
}
.content .deroulant-template .deroulant-container .deroulant-title{
  width: 10vw;
}