.content ul *{
    margin: 0px;
    padding: 0px;
    width: 150px;
}

.group { 
    position:relative; 
    margin-top:30px; 
    left: 15vw;
    top:5vh;
}
input 				{
  font-size:20px;
  padding:10px 10px 10px 5px;
  display:block;
  width:17vw;
  border:none;
  border-bottom:1px solid #757575;
  height: 5vh;
  cursor: pointer;
}
.group input:focus { 
    outline:none;
}


label 				 {
  color:#5264AE;
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}


input:focus ~ label:not(#room-input-message,.stop,.special), input:valid ~ label:not(#room-input-message,.stop,.special)		{
  top:-30px;
  font-size:20px;
  color:#5264AE;
}

.selector > *{
  display: flex;
}
.deroulant-template p  {
    font-size: 1.1vw;
    cursor: pointer;
}
.deroulant-template p:hover {
  background-color: rgb(230, 228, 228);
}
.content .deroulant-template ul * {
  width: 100%;
}
.deroulant-template span:hover{
    color: #009ffd;
    border-bottom: 2px solid cornflowerblue;
}
.content .deroulant-template .deroulant-container .deroulant-title{
  width: 13vw;
}
.form-container{
    position: relative;
    left:15vw;
    background-color: whitesmoke;
    width: 55vw;
    height: 85vh;
}
.deroulant-title{
    background-color: rgb(216, 213, 213);
    cursor: pointer;
}
.stop{
    top:-30px;
}
.special{
  top: -80px;
  position: relative;

}
.selector .deroulant-template{
    width: 15vw;
}
.group-container{
  display: flex;
  position: relative;
  
}
.content .group-container  .deroulant-template .deroulant-container .deroulant-title{
  width: 5vw;
}

.content .group-container  .deroulant-template  input{
  width: 5vw;
}
.group-container .deroulant-template ul{
    margin-right: 40px;
}
.radios label{
  position: static;
}
.radios input{
  width: 1vw;
}
.radios{
  margin-top: 5vh;
  position: relative;
  display: flex;
  left: 6vw;
  height: 5vh;
}
.radios div{
  margin-right: 3vw;
  justify-content: center;
}
.content h1{
  margin: 0;
}
.radios .specific-week{
  width: 100%;
}
.hidden-specific{
  margin-top: 20px;
  border: solid gainsboro 1px;
}