body{ 
    margin-left: 0%;
    margin-top: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-top: 0%;
    background-color: var(--card-background);
    font-family: "Montserrat";
    font-size: 1vw ;
    overflow-x: hidden;
}
header{
    display: flow-root;
    margin-right: 0%;
}
.logo{
    border-bottom: solid;
    border-right: solid;
    border-width: 3px;
    border-bottom-right-radius: 40px;
    height: 5vmax;
    width: 10vmax;
}
.logo-container {
    border-bottom-right-radius: 40px;
    height: 100%;
    width: 100%;
    margin: 0;
}
.info-container {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10%;
    border-left: solid black;
    border-bottom: solid black;
    border-width: 3px;
    font-size: 1vw;
    border-bottom-left-radius: 15px;
}
.info-container p{
    padding: 0%;
    margin: 2%;
}
.info{
    height: 100%;
}
.info-separator{
    margin-left: 5%;
    width: 90%;
    height: 0.3vh;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #009ffd 0%, #2a2a72 74%);
}
.personal-info {
    position: relative;
    left: 5%;
    padding-bottom: 3%;
    margin-bottom: 0%;
    top: 5%; 
    width: 80%;
    font-size: 0.9vw;
}
.serie {
    margin-top: 1%;
    padding-top: 0%;
    color: cornflowerblue;
    position: relative;
    left: 7%;
    top: 2%; 
    font-size: 1vw;
    padding-right: 0.85vw;
}

nav{
    font-size: 1.1vw;
    width: 97%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    top: 0px;
}



.content{
    flex-direction: column;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "DINPro", "Helvetica Neue", sans-serif;
    margin: 0;
    background: white;
    box-sizing: border-box;
}

.calendar {
    margin: 0 auto;
    max-width: 1280px;
    height: 700px;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2) ,0px 3px 7px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.wrap {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
  
thead {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}
  
thead th {
    position: relative;
    text-align: center;
    width: 100%;
}
tbody {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    top:15px;
}
table {
    background: #fff;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    z-index: 0;
}

.headcol {
    position: relative;
    width: 5vw;
    font-size: 0.875rem;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0;
    text-align: center;
    border: 0;
    top:-12px;
    border-bottom: 1px solid transparent;
}
thead th {
    font-size: 1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    padding: 1rem;
}

thead {
      background: white;
      border-bottom: 2px solid #ddd;
}
thead .past{
    background: grey;
}    
tr, tr td {
    position: relative;
    height: 60px;
}
td {
    text-align: center;
}
tr:nth-child(odd) td:not(.headcol) {
    border-bottom: 1px solid #e8e8e8;
}
  
tr:nth-child(even) td:not(.headcol) {
    border-bottom: 1px solid #eee;
}
  
tr td {
    border-right: 1px solid #eee;
    padding: 0;
    white-space: none;
    word-wrap: nowrap;
}
.outer{
    height: 90%;
}

tbody tr td {
    vertical-align: top;
    height: 20px;
    padding: 0.25rem 0.25rem 0 0.25rem;
    width: auto;
} 
.secondary {
    color: rgba(0, 0, 0, 0.4);
}
.event {
    position: absolute;
    background: #00B4FC;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
    border-radius: 2px;
    text-align: left;
    z-index: 0;
    padding: 0.5rem;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all 0.2s;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: -1;
    top: -1px;
}
.tab-info{
    display: inline;
    margin: 0.5%;
    margin-left: 4%;
    height: 100%;
    width: 20%;  
}
.info-box{
    border: solid var(--gray-2) 1px;
    background-color: var(--card-background);
}
.title-info{
    margin: 0;
    background-color: var(--card-background);
}
.inscription-button{
    border: none;
    font-family: sans-serif;
    font-size: 0.8vmax;
    color: black;
    cursor: pointer;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    outline: none;
    position: relative;
    width: 95%;
    border-radius: 15px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}
.event p{
    padding: 0;
    margin: 0;
    font-size: 1.9vmin ;
}
main{
    max-height: 1000px;
    min-height: 500px;
    display: flex;
}

.unclicked{
    background: whitesmoke;
}
.unclicked:hover{
    box-shadow: grey 1px 1px 1px;
}
.unsubscribe{
    background: red;
}
.unsubscribe:hover{
    box-shadow: rgb(252, 6, 6) 1px 1px;
}
.clicked{
    background: #2ecc71;
}
.clicked:hover{
    box-shadow: green 1px 1px 1px;
}
.calendar-content{
    top: 45px;
}
.event-main{
    border-left: solid grey 1px;
    border-top: solid grey 1px;
    border-right: solid grey 1px;
    height: 105%;
    z-index: 1;
}
.event-main p {
    font-size: 0.8vw;
}
.event-addon{
    border-left: solid grey 1px;
    border-bottom: solid grey 1px;
    border-right: solid grey 1px;
}
.event-addon form {
    margin-top: 15px;
    margin-bottom: 0;
}
.event-addon p {
    margin-top: 0px;
}
footer{
    text-align: center;
}
footer div{
    background-image: linear-gradient(45deg,var(--card-background),rgb(238, 236, 236));
    display: flex;
    width: 100%;
    padding-bottom: 1%;
    text-align: justify;
    background-color: #002a38;
    line-height: 1.3;
    font-family: monospace;
    text-align: center;
}

.chromefix{
    top:0px;
}
.chromefix-2{
    top:15px;
}
.prof-acess{
    left: 35%;
    text-align: center;
    width: 30%;
    font-style: normal;
    background-color: var(--gray-3);
    text-decoration: none;
    margin-bottom: 1%;
}
.prof-container{
    background-color: var(--card-background);
}