{% extends "../prof_navbar.html" %}
{% block files_extends %}
{% load static %} <link rel="stylesheet" href="{% static 'css/create_cours.css'' %}">
{% load static %} <script type="text/javascript" src="{% static 'js/prof_01.js'%}"></script>

{% endblock %}
{% block content %}
<h1>Créer un crénau de soutien</h1>
<form action="room" method="POST">
    <div class="form-container box">
        
        <div class="group">      
            <div class ="selector">
                <div class="deroulant-template">
                    
                    <ul>
                        <li class="deroulant-container">
                            <div>
                                <label class="stop">Salle</label>
                                <input class="room-input" id="room" type="text" required readonly="readonly">
                            </div>
                           <ul class ="deroulant box">
                                {% for elt in rooms %}
                                <li><p class="nav-1">{{elt}}</p></li>
                                {% endfor %}
                           </ul>
                        </li>
                    </ul>
                </div>
            </div>
            
        </div>
        <div class = "group">
            <div class ="selector">
                <div class="deroulant-template">
                    
                    
                    <ul>
                        <li class="deroulant-container">
                            <div>
                                <label class="stop">Matière</label>
                                <input id="matiere" type="text" readonly="readonly">
                            </div>
                           <ul class ="deroulant box">
                                {% for elt in cours %}
                                <li><p class="nav-2">{{elt.0}}</p></li>
                                {% endfor %}
                           </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class = "group">
            <div class ="selector">
                <div class="deroulant-template">
                    
                    <ul>
                        <li class="deroulant-container">
                            <div>
                                <label class="stop">Niveau</label>
                                <input id="classe" type="text" readonly="readonly">
                            </div>
                           <ul class ="deroulant box">
                                {% for elt in classes %}
                                <li><p class="nav-3">{{elt}}</p></li>
                                {% endfor %}
                           </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="group group-container">
                <div class ="selector">
                    <div class="deroulant-template">
                       
                            
                        
                        
                        <ul>
                            <li class="deroulant-container">
                                <div>
                                    <label class="stop">Jour</label>
                                    <input id="day" type="text" readonly="readonly">
                                </div>
                               <ul class ="deroulant box">
                                    {% for elt in days %}
                                    <li><p class="nav-4">{{elt}}</p></li>
                                    {% endfor %}
                               </ul>
                            </li>
                        </ul>
                        
                        
                        
                        <ul>
                            <li class="deroulant-container">
                                <div>
                                    <label class="stop">Heure</label>
                                    <input id="hour" type="text" readonly="readonly">
                                </div>
                               <ul class ="deroulant box">
                                    {% for elt in hours %}
                                    <li><p class="nav-5">{{elt}}</p></li>
                                    {% endfor %}
                               </ul>
                            </li>
                        </ul>
                    </div>
                </div>
        </div>
        <div class="group">
            <label class="stop" id="direct-size" for="volume">Nombre de places: 5</label>
            <input type="range" id="size" name="size"
                min="1" max="35" value="5">
            
        </div>
        <div class="radios">
            <div>
                <input class="cours-radio" type="radio" name="option" id="" value="repeat">
                <label for="repeat">Repeter toute l'année</label>
            </div>
            <div>
                <input class="cours-radio" type="radio" name="option" id="" value="post-week" checked="true">
                <label for="post-week">Uniquement la semaine prochaine</label>
            </div>
            <div>
                <input class="cours-radio" type="radio" name="option" id="specific" value="specific">
                <label id="specific-label" for="specific">Semaine spécifique</label>
                <div id="specific-div"class="hidden-specific" hidden>
                    <label for="specific-week">Semaine du</label>
                    <input class="specific-week"type="date" value="specific-week" step="7">
                </div>
                
                
            </div>
        </div>
    </div>
</form>
{% endblock %}