<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <link rel="stylesheet" href="{% static 'css/utility.css'' %}">
    {% block staticfiles %}
    
    {% endblock %}
    <title>Soutien Fulbert</title>
</head>
<body>
    <div class = "header">
        {% block header %}

        {% endblock %}
    </div>
    <div class = "navbar">
        {% block navbar %}

        {% endblock %}
    </div>
    <div class = "content"> 
        {% block content %}
        
        {% endblock %}
    </div>
    <div class = "footer">
        {% block footer %}
        
        {% endblock %}
    </div>
</body>
</html>